.footer {
  width: auto;
  background-color: white;
  margin: 0 5% 0 5%;
  padding: 1.5rem 1rem;
  z-index: 0.5;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  border-top: solid 1px rgb(198, 196, 196);
  align-content: flex-end;
}
