.cartitem__card {
  /*height: 450px;*/
}

.cartitem__media {
  /*max-height: 43.75%;*/
  height: 300px;
}

.cartitem__cardContent {
  display: flex;
  justify-content: space-between;
}

.cartitem__cardactions {
  display: flex;
  justify-content: space-between;
}

.cartitem__buttons {
  display: flex;
  align-items: center;
}
