.product__card {
  max-width: 100%;
}

.product__card:hover {
  opacity: 0.8;
  cursor: pointer;
}
.product__media {
  /*max-height: 56.25%;*/
  height: 300px;
  padding-top: 0%;
}

.product__actions {
  display: flex;
  justify-content: flex-end;
}

.product__content {
  display: flex;
  justify-content: space-between;
  padding: 2px 2px;
}
